body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



header{
  height: 110px;
  width: 100%;
	background-color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  color: #ff3448;
 
}

#menu{
 background-color: #545454;

}

#back-menu{
  color: black;
}

#start-menu{
  font-size: 20px;
  color: #ff3448;
}

#up-header{

}

#human{
  font-size: 12px;
  background-image: url("../image/human.png");
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

#cart{
  font-size: 12px;
  background-image: url("../image/cart.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

#checkout{
  font-size: 12px;
  background-image: url("../image/checkout.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
}


