body{
height: 100%;
width: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
background-color: black;
}

header{
height: 20vh;
width: 100%;
background-color:#212121 ;
font-family: 'Nunito Sans', sans-serif;
}

#up-header{
border-bottom: 0.2vh solid #545454;
}

#human-ico{
  margin-top: 10%;
}

#human{
  font-size: 80%;
  margin-left:20%;
  margin-top: -23%;
}













#red{
  color: #ff3448;
}


#down-header{
height: 11vh;
}

#buttons{
font-family: 'Oxygen', sans-serif;
width: 100%;
background-color: black;
}


#buttonshref{ 
  text-align: left;
  color: white;
}

#buttonshref:hover{ 
color:#ff3448;
display: block; 
}

.padding{
  padding-left: 5%;
}

#mainbanner{
  margin-top: -2%;
}

#image1{
background-color: #303030;
}



