body{
margin: 0;
padding: 0;
overflow-x: hidden;
background-color:#303030;
}

header{
background-color:#212121;
font-family: 'Nunito Sans', sans-serif;
}

#header{
background-color:#212121;  
}

#red{
  color: #ff3448;
}


#logo{
  position: absolute;
  top: 100%;
  left: 18.5%; 
}


#logomedia{
  width:0px;
  height:0px;  
  background-image: url("../image/Logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.human{
  position: absolute;
  left: 63%;
}

.cart{
  position: absolute;
  left: 70%;
}

.checkout{
   position: absolute;
  left: 75%;
}

.nav-content{
  height: 6vh;
}

.searchtop{
  height: 20px;
  position: absolute;
  right: 18%;
  top: 6px;
}

.border{
  height: 22px;
  position: absolute;
  right: 20%;
  top: 20px;
  border-left: 2px solid #545454;
}

.bord-bott{
  border-bottom: 2px solid #545454;
  height: 50px;
  width: 65vw;
  margin-right:17vw;
}

#font{
  font-size: 13px;
}

.border-tabs1{
  height: 50px;
  border-left: 2px solid #545454;
  position: absolute;
  right: 32vw;
  top: 68px;
}


.tab1{ 
  position: absolute;
  right: 26.7vw;
  top: 78px;
  font-family: 'Oxygen', sans-serif;
}


.border-tabs2{
  height: 50px;
  border-left: 2px solid #545454;
  position: absolute;
  right: 26.5vw;
  top: 68px;
}


.tab2{
  position: absolute;
  right: 21.2vw;
  top: 78px;
 font-family: 'Oxygen', sans-serif;
}


.border-tabs3{
  height: 50px;
  border-left: 2px solid #545454;
  position: absolute;
  right: 21vw;
  top: 68px;
}


.tab3{
  text-align: center;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 16vw;
  top: 78px;
 font-family: 'Oxygen', sans-serif;
}


.intab3{
  position: absolute;
  top: -21px;
  left: 32px; 
}


#buttons{
font-family: 'Oxygen', sans-serif;
width: 100%;
background-color: black;
}


#buttonshrefsmall{
  width:50px;
  text-align: left;
  color: white;
}

#buttonshrefsmall:hover{ 
color:#ff3448;
display: block; 
}

#buttonshref{
  width:70px;
  text-align: left;
  color: white;
}

#buttonshref:hover{ 
color:#ff3448;
display: block; 
}


#mainbanner{
  margin-top: -2%;
  width: 100%;
}

.search{
  background-color:#4a4a4a;
}

#mobile-demo{
  background-color:#303030;
  color: #ff3448;
}

#picture-left{
  margin-top: -5px;
  text-align: left; 
}

#picture-right{
  margin-top: -5px;
  text-align: right;  
}
